body {
    margin: 0;
    width: 360px;
    height: 800px;
    display: flex;
    position: relative;
    align-content: center;
    justify-content: center;
}

#banner {
    width: 360px;
    height: 285px;
    flex-shrink: 0;
}

header {
    top: 0;
    z-index: 1;
    width: 360px;
    height: 56px;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: space-between;
}

#logo-box {
    align-items: center;
    display: flex;
    padding-left: 20px;
    justify-content: flex-start;
}

#logo {
    width: 39px;
    height: 20px;
}

#logo-title {
    font-size: 20px;
    font-weight: 800;
    line-height: 32px;
    font-family: 'NanumSquareRound';
    color: var(--naver-text, #FFF);
}

#bell {
    width: 24px;
    padding-right: 20px;
}

footer {
    bottom: 0;
    width: 360px;
    height: 72px;
    flex-shrink: 0;
    position: fixed;
    background-color: #FFF;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.10));
}

#nav-list {
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content: space-around;
}

.nav-item {
    display: flex;
    margin-top: 16px;
    column-gap: 70px;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.nav-item p {
    font-size: 10px;
    color: #C0C0C0;
    margin-top: 4px;
    font-family: 'NanumSquareRound';
}

#page {
    color: #ED4B62;
}

.nav-img {
    width: 24px;
}