body {
    margin: 0;
    width: 360px;
    height: 800px;
    display: flex;
    position: relative;
    align-content: center;
    justify-content: center;
}

#banner {
    width: 360px;
    height: 285px;
    flex-shrink: 0;
}

header {
    top: 0;
    z-index: 1;
    width: 360px;
    height: 56px;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: space-between;
}

#logo-box {
    align-items: center;
    display: flex;
    padding-left: 20px;
    justify-content: flex-start;
}

#logo {
    width: 39px;
    height: 20px;
}

#logo-title {
    font-size: 20px;
    font-weight: 800;
    line-height: 32px;
    font-family: 'NanumSquareRound';
    color: var(--naver-text, #FFF);
}

#bell {
    width: 24px;
    padding-right: 20px;
}