body {
    margin: 0;
    width: 360px;
    height: 100vh;
    display: flex;
    align-content: center;
    justify-content: center;
}
  
header {
    width: 100%;
    height: 56px;
    display: flex;
    position: absolute;
    align-items: center;
}
  
#left {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    margin-left: 13px;
}
  
#title {
    font-size: 20px;
    font-weight: 500;
    margin-left: 8px;
    font-style: normal;
    line-height: 28px;
    font-family: "NanumSquareRound";
    color: var(--kakao-logo, #000);
}
  
main {
    display: flex;
    margin-top: 76px;
    flex-direction: column;
    width: calc(100% - 40px);
}

.notice-container {
    width: 100%;
    height: 59px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.notice-content {
    row-gap: 3px;
    display: flex;
    flex-direction: column;
    font-family: 'Pretendard';
}

.date {
    font-size: 10px;
    color: #C0C2C8;
}

.notice-write {
    display: flex;
    font-size: 14px;
    color: #2C2C2C;
}

.type span {
    margin: 0 2px;
    color: #707174;
}

.notice-write > img {
    width: 16px;
    height: 16px;
    margin-left: 4px;
}

.notice-container > img {
    width: 12px;
    height: 16px;
}