* {
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100%;
    overflow-x: hidden;
    background-color: #F4F6F7;
}

header {
    top: 0;
    z-index: 1;
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo-box {
    display: flex;
    padding-left: 20px;
    align-items: center;
    justify-content: flex-start;
}

#x {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

#logo-title {
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    line-height: 22.4px;
    margin: 0 0 3px 12px;
    font-family: 'Pretendard';
    color: var(--Gray-05, #2C2C2C);
}

#correction {
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    line-height: 22.4px;
    padding-right: 20px;
    font-family: 'Pretendard';
    color: var(--Primary-main, #ED4B62);
}

main {
    overflow: auto;
    padding: 0 20px;
    height: calc(100vh - 144px);
}

#receipt-container {
    margin: 20px 0 40px 0;
    background-color: #FFF;
    font-family: 'Pretendard';
    height: calc(303px + 140px);
    filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.16));
}

#input-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#receipt-title {
    border: none;
    outline: none;
    font-size: 20px;
    margin-top: 32px;
    font-weight: 800;
    line-height: 32px;
    font-style: normal;
    text-align: center;
    font-family: 'NanumSquareRound';
    color: var(--Gray-05, #2C2C2C);
}

#receipt-title::placeholder {
    font-size: 20px;
    color: var(--Gray-02, #F0F2F6);
}

#line {
    height: 1px;
    width: 180px;
    flex-shrink: 0;
    margin: 4px 0 10px 0;
    background: var(--Gray-02, #F0F2F6);
}

#receipt-date {
    width: 96px;
    height: 20px;
    outline: none;
    display: flex;
    font-size: 10px;
    text-align: center;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
    color: var(--Gray-04, #707174);
    background: var(--naver-text, #FFF);
    border: 1px solid var(--Gray-02, #F0F2F6);
}

#list-box {
    width: 100%;
    display: grid;
    padding: 0 16px;
    margin-top: 29px;
}

#list-header {
    width: 288px;
    display: flex;
    font-size: 12px;
    justify-content: space-between;
    color: var(--Gray-04, #707174);
}

#list-header div {
    display: flex;
    column-gap: 40px;
}

#table-line {
    height: 1px;
    width: 100%;
    max-width: 288px;
    margin: 10px 0 16px 0;
    background-color: var(--Gray-03, #C0C2C8);
}

#list-footer {
    width: 100%;
    height: 104px;
}

.table-line {
    width: 100%;
    margin: 16px 0;
    border: 1px dashed #C0C2C8;
}

.list {
    width: 288px;
    height: 35px;
    display: flex;
    font-size: 12px;
    align-items: center;
}

.list-name {
    width: 164px;
}

.list-cnt,
.list-price {
    width: 62px;
    text-align: right;
}

#list-tax {
    width: 100%;
    display: flex;
    font-size: 14px;
    justify-content: space-between;
    color: var(--Gray-05, #2C2C2C);
}

#list-sum {
    width: 100%;
    display: flex;
    font-size: 16px;
    font-weight: bold;
    justify-content: space-between;
}

#sum {
    font-size: 20px;
    color: #ED4B62;
}

.list-add {
    width: 100%;
    height: 32px;
    display: none;
    padding: 5px 0;
    margin-top: 16px;
    color: #F0F2F6;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #F0F2F6;
}

#give-container
#receive-container {
    height: 87px;
    display: flex;
    position: relative;
    flex-direction: column;
}

.container-title {
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
    font-style: normal;
    margin-bottom: 8px;
    font-family: 'NanumSquareRound';
    color: var(--Gray-05, #2C2C2C);
}

#give-box,
#receive-box {
    width: 100%;
    height: 65px;
    resize: none;
    outline: none;
    flex-shrink: 0;
    font-size: 14px;
    font-weight: 400;
    padding: 10px 12px;
    font-style: normal;
    border-radius: 8px;
    line-height: 22.4px;
    margin-bottom: 20px;
    font-family: 'Pretendard';
    color: var(--Gray-05, #2C2C2C);
    background: var(--naver-text, #FFF);
    border: 1px solid var(--Black-200, #E6E6E6);
}

textarea::placeholder {
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 22.4px;
    font-family: 'Pretendard';
    color: var(--Black-200_1, #E1E1E1);
}

footer {
    bottom: 0;
    width: 100%;
    display: flex;
    position: fixed;
    padding: 20px 0;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px 20px 0px 0px;
    background: var(--naver-text, #FFF);
    box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.10);
}

#flex-box {
    display: flex;
    column-gap: 8px;
    align-items: center;
    justify-content: space-between;
}

#share-box,
#save-box {
    width: 156px;
    height: 46px;
    display: flex;
    flex-shrink: 0;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    font-family: 'Pretendard';
}

#share-box {
    border: 1px solid #E3E4E8;
    color: var(--Gray-03, #C0C2C8);
    background: var(--Gray-White, #FFF);
}

#save-box {
    background: var(--Primary-main, #ED4B62);
    color: var(--Gray-White, var(--naver-text, #FFF));
}