body {
    width: 360px;
    height: 800px;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    background-color: #ED4B62;
    justify-content: space-between;
}

#logo {
    width: 133px;
    margin-top: 251px;
}

#airplane {
    width: 360px;
    position: fixed;
    bottom: 0;
}

#title {
    top: 644px;
    font-size: 24px;
    color: #ED4B62;
    position: absolute;
    font-family: 'NanumSquareRound';
}

#sub-title {
    top: 679px;
    font-size: 16px;
    color: #ED4B62;
    position: absolute;
    font-family: 'NanumSquareRound';
}